<div
  class="page-container flex flex-col justify-between gap-2 rounded-xl border border-t border-gray-200 bg-white p-8 shadow"
>
  <label class="text-xl text-gray-700">Skills</label>
  <div class="flex flex-col gap-2 sm:flex-row sm:items-center sm:gap-4">
    <input
      type="text"
      class="w-full rounded-lg border border-gray-200 px-3 py-3 text-gray-700 transition-colors focus:border-gray-800 focus:ring-0 focus:outline-none"
      placeholder="e.g., Angular, TypeScript, AWS"
      [formControl]="newSkillControl"
      (keydown.enter)="addSkill()"
    />
    <button
      type="button"
      (click)="addSkill()"
      class="flex cursor-pointer items-center gap-2 rounded-lg bg-gray-800 px-4 py-3 text-white transition-all hover:bg-gray-700"
    >
      <lucide-icon [img]="Plus" class="h-6 w-6"></lucide-icon>
      <span>Add</span>
    </button>
  </div>

  @if (skillsFormArray.controls.length > 0) {
    <div class="flex flex-wrap gap-2">
      @for (skillControl of skillsFormArray.controls; track $index) {
        <div
          class="flex items-center gap-2 rounded-full bg-gray-200 px-4 py-1 text-sm text-gray-700"
        >
          <span>{{ skillControl.value }}</span>
          <button
            type="button"
            (click)="removeSkill($index)"
            class="cursor-pointer text-gray-500 hover:text-gray-700"
          >
            <lucide-icon [img]="X" class="h-5 w-5"></lucide-icon>
          </button>
        </div>
      }
    </div>
  } @else {
    <p class="text-gray-600">No skills added yet.</p>
  }
</div>
