<div
  [formGroup]="linksForm"
  class="page-container flex flex-col gap-4 rounded-xl border border-gray-200 bg-white p-8 shadow"
>
  <div class="flex justify-between gap-4">
    <!-- GitHub Link Field -->
    <div class="flex w-full flex-col">
      <label for="github" class="mb-2 text-gray-700">GitHub Profile</label>
      <div class="relative">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <lucide-icon [img]="Link" class="text-gray-400"></lucide-icon>
        </div>
        <input
          type="url"
          id="github"
          class="w-full rounded-lg border border-gray-200 px-3 py-3 pl-10 text-gray-700 transition-colors focus:border-gray-800 focus:ring-0 focus:outline-none"
          placeholder="https://github.com/your-profile"
          formControlName="github"
        />
      </div>
      <div class="h-5">
        @if (linksForm.get('github')?.invalid && linksForm.get('github')?.touched) {
          <span class="mt-1 text-sm text-red-500">Please enter a valid GitHub URL.</span>
        }
      </div>
    </div>

    <!-- Portfolio Link Field -->
    <div class="flex w-full flex-col">
      <label for="portfolio" class="mb-2 text-gray-700">Portfolio Website</label>
      <div class="relative">
        <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
          <lucide-icon [img]="Link" class="text-gray-400"></lucide-icon>
        </div>
        <input
          type="url"
          id="portfolio"
          class="w-full rounded-lg border border-gray-200 px-3 py-3 pl-10 text-gray-700 transition-colors focus:border-gray-800 focus:ring-0 focus:outline-none"
          placeholder="https://www.your-portfolio.com"
          formControlName="portfolio"
        />
      </div>
      <div class="h-5">
        @if (linksForm.get('portfolio')?.invalid && linksForm.get('portfolio')?.touched) {
          <span class="mt-1 text-sm text-red-500">Please enter a valid Portfolio URL.</span>
        }
      </div>
    </div>
  </div>

  <!-- Linkedin Link Field -->
  <div class="flex w-full flex-col">
    <label for="linkedin" class="mb-2 text-gray-700">LinkedIn</label>
    <div class="relative">
      <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <lucide-icon [img]="Link" class="text-gray-400"></lucide-icon>
      </div>
      <input
        type="url"
        id="linkedin"
        class="w-full rounded-lg border border-gray-200 px-3 py-3 pl-10 text-gray-700 transition-colors focus:border-gray-800 focus:ring-0 focus:outline-none"
        placeholder="https://linkedin.com/in/your-profile"
        formControlName="linkedin"
      />
    </div>
    <div class="h-5">
      @if (linksForm.get('linkedin')?.invalid && linksForm.get('linkedin')?.touched) {
        <span class="mt-1 text-sm text-red-500">Please enter a valid LinkedIn URL.</span>
      }
    </div>
  </div>
  <!-- CV Upload Field -->
  <div class="flex flex-col gap-6">
    <!-- File upload section for CV/Resume -->
    <div>
      <label class="text-xl font-medium text-gray-900">File Upload</label>
      <div class="mt-2">
        <label class="mb-2 text-gray-700">CV/Resume</label>
        <!-- Dropzone for file input -->
        <div class="mt-2 flex w-full items-center justify-center">
          @if (!fileName) {
            <label
              for="dropzone-file"
              class="flex h-24 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100"
            >
              <div class="flex items-center justify-center gap-2 py-6">
                <lucide-icon [img]="Upload"></lucide-icon>
                <div class="flex flex-col items-center">
                  <p class="text-sm text-gray-500">
                    <span class="font-semibold">Click to upload</span> or drag and drop
                  </p>
                  <p class="text-xs text-gray-500">PDF (MAX. 10MB)</p>
                </div>
              </div>
              <input
                id="dropzone-file"
                type="file"
                class="hidden"
                (change)="onFileSelected($event)"
              />
            </label>
          } @else {
            <div
              class="flex h-24 w-full items-center justify-between rounded-lg border border-gray-200 bg-gray-50 px-4"
            >
              <div class="flex items-center gap-2">
                <lucide-icon [img]="Link" class="text-gray-400"></lucide-icon>
                <span class="text-sm text-gray-700">{{ fileName }}</span>
              </div>
              <button
                type="button"
                class="flex items-center justify-center rounded-md p-2 transition-colors hover:cursor-pointer hover:bg-gray-200"
                (click)="removeFile()"
              >
                <lucide-icon [img]="Trash" class="h-7 w-7 text-gray-700"></lucide-icon>
              </button>
            </div>
          }
        </div>
        <!-- Validation error for resume -->
        <div class="h-5">
          @if (linksForm.get('cv')?.invalid && linksForm.get('cv')?.touched) {
            <span class="mt-1 text-sm text-red-500">CV is required.</span>
          }
        </div>
      </div>
    </div>
  </div>
</div>
