@import "tailwindcss";
@plugin "@tailwindcss/forms";

@layer components {
  .page-container {
    @apply w-full max-w-7xl mx-auto px-6 sm:px-8 lg:px-12;
  }

  .section-stack {
    @apply flex flex-col items-center justify-center gap-12 py-32;
  }

  .section-divider {
    @apply w-full border-b border-black/10 border-[0.5px] sm:border-[1px];
  }

  @keyframes modal-in {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1.02);
      opacity: 1;
    }
  }

  .animate-modal-in {
    animation: modal-in 300ms ease-out forwards;
  }
}
